.container
  .row
    .col-sm-12

      %h3 Message Boards :: Admin

      .message-board

        %h3
          = link_to 'Forum Admin', admin_root_url
          %i.fa.fa-fw.fa-angle-right
          Groups

          = link_to "New group", new_admin_group_path, class: 'btn btn-primary pull-right'

        %table.table
          %tr
            %th
              Name
            %th
              Moderator
            %th

          - @groups.each_with_index do |group, i|
            %tr
              %td
                = link_to group.name, [:admin, group]
              %td
                = group.moderator ? 'Yes' : 'No'
              %td.align-right
                = link_to edit_admin_group_path(group) do
                  Edit
                  %i.fa.fa-fw.fa-edit
                = link_to admin_group_path(group), method: :delete, class: 'text-danger', data: { confirm: 'Are you certain you want to delete this?' } do
                  Delete
                  %i.fa.fa-fw.fa-trash-o
