.container
  .row
    .col-sm-12

      %h3 Message Boards

      .message-board
        - @categories.each do |category|
          %section.forum-boards
            %h3
              = category.name
            - if category.moderator?(mongoid_forums_user)
              %b You are a moderator of this category
              
            - category.forums.asc(:position).each do |forum|

              = link_to forum, class: 'forum-board' do
                %header
                  %h3
                    = forum.name
                    %span.small
                      = "#{topics_count(forum)} topics | #{posts_count(forum)} posts"

                  %p
                    = forum.description

                  %p.forum-last-post
                    = last_post(forum)
