.container
  .row
    .col-sm-12

      %h3 Message Boards

      .message-board
        %h3
          = link_to @forum.category.name, forums_url
          %i.fa.fa-fw.fa-angle-right
          = @forum.name

        - if @forum.moderator?(mongoid_forums_user)
          %b You are a moderator on this forum.
          %br


        %section.forum-boards
          - @topics.each do |topic|
            %article.forum-topic
              %h3
                .post-count
                  = topic.posts.count
                = link_to topic.emojified_name, topic
                %small
                  = last_topic_post(topic)


        = link_to "Add a topic", forum_path(@forum) + '/new'
