.container
  .row
    .col-sm-12

      %h3 Message Boards

      .message-board
        %h3
          = link_to @topic.forum.category.name, forums_url
          %i.fa.fa-fw.fa-angle-right
          = link_to @topic.forum.name, forum_url(@topic.forum)
          %i.fa.fa-fw.fa-angle-right
          = link_to @topic.name, topic_url(@topic)
          %i.fa.fa-fw.fa-angle-right
          New Post

        %section.forum-boards
          - if params[:reply_to_id]
            - replying_to = MongoidForums::Post.find(params[:reply_to_id])
            Replying to
            %blockquote.mt5
              %p
                = replying_to.user.forum_display_name
                said
                = time_ago_in_words(replying_to.created_at)
                ago
              = mongoid_forums_format(replying_to.text)

          = form_for [@topic, @post], class: 'form' do |f|
            .form-group
              = render :partial => "form", :locals => { :f => f }
            .form-group.align-right
              = f.submit "Post Reply", :class => "btn btn-primary", :disable_with => "Creating..."
