.container
  .row
    .col-sm-12

      %h3 Message Boards :: Admin

      .message-board
        %h3
          = link_to 'Forum Admin', admin_root_url
          %i.fa.fa-fw.fa-angle-right
          Categories

          = link_to "New category", new_admin_category_path, class: 'btn btn-primary pull-right'

        %table.table
          %tr
            %th{ style: 'width: 70%' }
              Name
            %th
            %th

          - @categories.each do |category|
            %tr
              %td
                = link_to category.name, [:admin, category]
              %td.align-right
                = link_to admin_category_path(category), class: 'nudge-left' do
                  View
                  %i.fa.fa-fw.fa-eye
                = link_to edit_admin_category_path(category), class: 'nudge-left' do
                  Edit
                  %i.fa.fa-fw.fa-edit
                = link_to admin_category_path(category), method: :delete, class: 'text-danger', data: { confirm: 'Are you certain you want to delete this?' } do
                  Delete
                  %i.fa.fa-fw.fa-trash-o
