.container
  .row
    .col-sm-12

      %h3 Message Boards :: Admin

      .message-board
        %h3
          = link_to 'Forum Admin', admin_root_url
          %i.fa.fa-fw.fa-angle-right
          = link_to 'Forums', admin_forums_url
          %i.fa.fa-fw.fa-angle-right
          = "#{@forum.name} groups"

        %table.table
          %tr
            %th
              Name
            %th

          - @forum.moderator_groups.each do |group|
            %tr
              %td
                = link_to group.name, [:admin, group]
              %td.align-right
                = link_to admin_group_path(group) do
                  Show
                  %i.fa.fa-fw.fa-eye
                = link_to edit_admin_group_path(group) do
                  Edit
                  %i.fa.fa-fw.fa-edit
                = link_to admin_forum_rem_group_path(forum_id: params[:id], group: {id: group.id}), class: 'text-danger', method: :post, data: { confirm: 'Are you certain you want to delete this?' } do
                  Remove
                  %i.fa.fa-fw.fa-trash-o

        = form_tag admin_forum_add_group_path(@forum), :method => :post, class: 'form form-inline' do
          .form-group
            = collection_select(:group, :id, @groups, :id, :name, { prompt: true }, { class: 'form-control' })
            %button.btn.btn-success
              Add
